
.monster-cards {
  &__title {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 1.75rem;
    text-align: center;
  }

  &__title-icon {
    height: 1em;
    padding: 0 0.25rem;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
  }
}